USE [master]
GO
/****** Object:  Database [LucilApp_DataBase]    Script Date: 31/5/2024 09:38:26 ******/
CREATE DATABASE [LucilApp_DataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LucilApp_BataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LucilApp_BataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LucilApp_BataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LucilApp_BataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LucilApp_DataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LucilApp_DataBase]
GO
/****** Object:  User [alumno]    Script Date: 31/5/2024 09:38:26 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 31/5/2024 09:38:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Pendientes] [int] NOT NULL,
	[TiempoTarea] [int] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria_Filtro]    Script Date: 31/5/2024 09:38:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria_Filtro](
	[IdCategoria] [int] NOT NULL,
	[IdFiltro] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 31/5/2024 09:38:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Edad] [int] NULL,
	[Genero] [varchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filtro]    Script Date: 31/5/2024 09:38:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filtro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Filtro_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 31/5/2024 09:38:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MetodoPago] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacion]    Script Date: 31/5/2024 09:38:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Notificacion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 31/5/2024 09:38:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[Tomada] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [PK_Tarea] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 31/5/2024 09:38:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Foto] [varchar](50) NULL,
	[Contrasenia] [varchar](50) NOT NULL,
	[Mail] [varchar](50) NOT NULL,
	[Telefono] [int] NOT NULL,
	[Dni] [varchar](50) NOT NULL,
	[Validado] [bit] NOT NULL,
	[Nivel] [int] NOT NULL,
	[Saldo] [float] NOT NULL,
	[CantSolucionadas] [int] NOT NULL,
	[IdIdioma] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Categoria]    Script Date: 31/5/2024 09:38:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Categoria](
	[IdUsuario] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_MetodoPago]    Script Date: 31/5/2024 09:38:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_MetodoPago](
	[IdUsuario] [int] NOT NULL,
	[IdMetodoPago] [int] NOT NULL,
	[Cbu] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([Id], [Nombre], [Pendientes], [TiempoTarea]) VALUES (3, N'Excel', 2, 4)
INSERT [dbo].[Categoria] ([Id], [Nombre], [Pendientes], [TiempoTarea]) VALUES (4, N'Instagram', 3, 7)
INSERT [dbo].[Categoria] ([Id], [Nombre], [Pendientes], [TiempoTarea]) VALUES (6, N'Sacar_Turno', 1, 2)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
INSERT [dbo].[Categoria_Filtro] ([IdCategoria], [IdFiltro]) VALUES (6, 1)
INSERT [dbo].[Categoria_Filtro] ([IdCategoria], [IdFiltro]) VALUES (4, 2)
INSERT [dbo].[Categoria_Filtro] ([IdCategoria], [IdFiltro]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id], [Nombre], [Telefono], [Edad], [Genero]) VALUES (1, N'Raul', 11111112, 87, N'Masculino')
INSERT [dbo].[Cliente] ([Id], [Nombre], [Telefono], [Edad], [Genero]) VALUES (2, N'Martha', 11111113, 93, N'Femenino')
INSERT [dbo].[Cliente] ([Id], [Nombre], [Telefono], [Edad], [Genero]) VALUES (3, N'Humberto', 11111114, 83, N'Masculino')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Filtro] ON 

INSERT [dbo].[Filtro] ([Id], [Nombre]) VALUES (1, N'Medico')
INSERT [dbo].[Filtro] ([Id], [Nombre]) VALUES (2, N'Apps')
SET IDENTITY_INSERT [dbo].[Filtro] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodoPago] ON 

INSERT [dbo].[MetodoPago] ([Id], [Nombre]) VALUES (1, N'Mercado_Pago')
INSERT [dbo].[MetodoPago] ([Id], [Nombre]) VALUES (2, N'Banco_Galicia')
SET IDENTITY_INSERT [dbo].[MetodoPago] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarea] ON 

INSERT [dbo].[Tarea] ([Id], [Descripcion], [Tomada], [IdCategoria], [IdCliente], [IdUsuario]) VALUES (1, N'No se como guardar el excel', 0, 3, 1, NULL)
INSERT [dbo].[Tarea] ([Id], [Descripcion], [Tomada], [IdCategoria], [IdCliente], [IdUsuario]) VALUES (2, N'Quiero crear un usuario de instagram', 1, 4, 1, 1)
INSERT [dbo].[Tarea] ([Id], [Descripcion], [Tomada], [IdCategoria], [IdCliente], [IdUsuario]) VALUES (5, N'Quiero subir un video a youtube', 0, 7, 8, 5)
SET IDENTITY_INSERT [dbo].[Tarea] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [Nombre], [Foto], [Contrasenia], [Mail], [Telefono], [Dni], [Validado], [Nivel], [Saldo], [CantSolucionadas], [IdIdioma]) VALUES (1, N'Julio', NULL, N'Julio123', N'Julio@gmail.com', 11111111, N'1', 0, 2, 6000, 18, 1)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Foto], [Contrasenia], [Mail], [Telefono], [Dni], [Validado], [Nivel], [Saldo], [CantSolucionadas], [IdIdioma]) VALUES (3, N'Santiago', NULL, N'Santi123', N'Santi@gmail.com', 21111111, N'2', 1, 1, 500, 1, 1)
INSERT [dbo].[Usuario] ([Id], [Nombre], [Foto], [Contrasenia], [Mail], [Telefono], [Dni], [Validado], [Nivel], [Saldo], [CantSolucionadas], [IdIdioma]) VALUES (4, N'Marcos', NULL, N'Marcos123', N'Marcos@gmail.com', 31111111, N'3', 1, 3, 4000, 25, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[Usuario_Categoria] ([IdUsuario], [IdCategoria]) VALUES (1, 3)
INSERT [dbo].[Usuario_Categoria] ([IdUsuario], [IdCategoria]) VALUES (1, 4)
GO
INSERT [dbo].[Usuario_MetodoPago] ([IdUsuario], [IdMetodoPago], [Cbu]) VALUES (1, 1, 999999)
INSERT [dbo].[Usuario_MetodoPago] ([IdUsuario], [IdMetodoPago], [Cbu]) VALUES (1, 2, 888888)
GO
ALTER TABLE [dbo].[Categoria_Filtro]  WITH CHECK ADD  CONSTRAINT [FK_Categoria_Filtro_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Categoria_Filtro] CHECK CONSTRAINT [FK_Categoria_Filtro_Categoria]
GO
ALTER TABLE [dbo].[Categoria_Filtro]  WITH CHECK ADD  CONSTRAINT [FK_Categoria_Filtro_Filtro] FOREIGN KEY([IdFiltro])
REFERENCES [dbo].[Filtro] ([Id])
GO
ALTER TABLE [dbo].[Categoria_Filtro] CHECK CONSTRAINT [FK_Categoria_Filtro_Filtro]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_Usuario]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Categoria]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Cliente]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD  CONSTRAINT [FK_Tarea_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Tarea] CHECK CONSTRAINT [FK_Tarea_Usuario]
GO
ALTER TABLE [dbo].[Usuario_Categoria]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Categoria_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Categoria] CHECK CONSTRAINT [FK_Usuario_Categoria_Categoria]
GO
ALTER TABLE [dbo].[Usuario_Categoria]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Categoria_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Categoria] CHECK CONSTRAINT [FK_Usuario_Categoria_Usuario]
GO
ALTER TABLE [dbo].[Usuario_MetodoPago]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_MetodoPago_MetodoPago] FOREIGN KEY([IdMetodoPago])
REFERENCES [dbo].[MetodoPago] ([Id])
GO
ALTER TABLE [dbo].[Usuario_MetodoPago] CHECK CONSTRAINT [FK_Usuario_MetodoPago_MetodoPago]
GO
ALTER TABLE [dbo].[Usuario_MetodoPago]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_MetodoPago_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Usuario_MetodoPago] CHECK CONSTRAINT [FK_Usuario_MetodoPago_Usuario]
GO
USE [master]
GO

CREATE LOGIN [username] WITH PASSWORD = 'root';

USE [LucilApp_DataBase];
CREATE USER [username] FOR LOGIN [username];

EXEC sp_addrolemember 'db_datareader', 'nombre_usuario';
EXEC sp_addrolemember 'db_datawriter', 'nombre_usuario';